<template>
    <h1>Prehľad aktuálnych zamestnancov</h1>
    <p if.bind="!evidenciaZamestnancov"><em>Loading...</em></p>
    <div class="col-lg-8">
        <button type="button" class="btn btn-success pull-right" click.delegate="detailZamestnanca(null, 'true')">Nový zamestnanec</button>
        <table if.bind="evidenciaZamestnancov" class="table">
            <thead>
                <tr>
                    <th>Meno</th>
                    <th>Aktuálna pozícia</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr repeat.for="evidenciaZamestnanca of evidenciaZamestnancov">
                    <td evidenciaZamestnanca.bind="evidenciaZamestnanca" click.delegate="detailZamestnanca(evidenciaZamestnanca.zamestnanec.zamestnanecID, 'false')" style="cursor: pointer;">${ evidenciaZamestnanca.zamestnanec.meno + " " + evidenciaZamestnanca.zamestnanec.priezvisko }</td>
                    <td>${ evidenciaZamestnanca.pozicia.nazov }</td>
                    <td><button type="button" class="btn btn-info btn-block" evidenciaZamestnanca.bind="evidenciaZamestnanca" click.delegate="detailZamestnanca(evidenciaZamestnanca.zamestnanec.zamestnanecID, 'true')">Editácia</button></td>
                    <td><button type="button" class="btn btn-danger btn-block" evidenciaZamestnanca.bind="evidenciaZamestnanca" click.delegate="deleteZamestnanec(evidenciaZamestnanca.zamestnanec.zamestnanecID)">Zmazať</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
