<template bindable="pozicie">
    <h1>Prehľad pozícií ${ valid }</h1>
    <p if.bind="!pozicie"><em>Loading...</em></p>
    <div style="max-width:800px">
        <div class="form-group col-lg-12">
            <label class="form-control-static col-lg-2" for="poziciaNazovField">Názov pozície:</label>
            <div class="col-lg-4">
                <input type="text" class="form-control" value.bind="pozicia.nazov & validate: poziciaValidationRules">
            </div>
            <div class="col-lg-2 pull-right">
                <button class="btn btn-success form-group" click.delegate="addPozicia(pozicia)">Pridať pozíciu</button>
            </div>
        </div>
        


        <table if.bind="pozicie" class="table">
            <thead>
                <tr>
                    <th>Názov</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr repeat.for="pozicia of pozicie">
                    <td>${ pozicia.nazov }</td>
                    <td><button type="button" class="btn btn-danger btn-block" pozicia.bind="pozicia" click.delegate="deletePozicia(pozicia.poziciaID)">Zmazať</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
