<template bindable="pozicie">
    <h1>Prehľad pozícií</h1>
    <p if.bind="!pozicie"><em>Loading...</em></p>
    <div class="col-lg-4">
        <form class="pull-right">
            <label for="poziciaNazovField">Názov pozície:</label>
            <input type="text" value.bind='nazov & validate: validationController'>
            <button class="btn btn-success" click.delegate="addPozicia(nazov)">Pridať pozíciu</button>
            <ul class="errors"><li repeat.for="error of validationController.errors">${error.message}</li></ul>
        </form>
        <table if.bind="pozicie" class="table">
            <thead>
                <tr>
                    <th>Názov</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr repeat.for="pozicia of pozicie">
                    <td>${ pozicia.nazov }</td>
                    <td><button type="button" class="btn btn-danger btn-block" pozicia.bind="pozicia" click.delegate="deletePozicia(pozicia.poziciaID)">Zmazať</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
