<template>
    <h1>Zadanie</h1>
    <p>Vytvorte webovu stranku, ktora bude sluzit pre spravu zamestnancov vo firme.</p>
    <p>K zamestnancovi prisluchaju nasledujuce udaje:</p>
    <ul>
        <li>Meno - povinny udaj</li>
        <li>Priezvisko - povinny udaj</li>
        <li>Adresa - nepovinny udaj</li>
        <li>Datum narodenia - povinny udaj, datum z minulosti</li>
        <li>Datum nastupu - povinny udaj, datum z buducnosti alebo aktualny datum</li>
        <li>Pozicia vo firme - povinny udaj</li>
        <li>Plat - povinny udaj, desatinne cislo.</li>
    </ul>
    <p>Mozne pozicie vo firme:</p>
    <ul>
        <li>Tester</li>
        <li>Programator</li>
        <li>Support</li>
        <li>Analytik</li>
        <li>Obchodnik</li>
        <li>Ine</li>
    </ul>
    <p>Pomocou stranky ma byt pouzivatel schopny:</p>
    <ul>
        <li>Zobrazit si zoznam aktualnych zamestnancov.</li>
        <li>Zobrazit si zoznam predoslych zamestnancov.</li>
        <li>Zobrazit si detail konkretneho zamestnanca. Tento detail sa zobrazi vyberom konkretneho zamestnanca zo zoznamu zamestnancov.</li>
        <li>Vytvorit noveho zamestnanca.</li>
        <li>Zmazat aktualneho zamestnanca.</li>
        <li>Zobrazit zoznam pozicii vo firme.</li>
        <li>Vytvorit novu poziciu.</li>
        <li>Zmazat poziciu.</li>
    </ul>
    <p>Ako ma stranka vyzerat</p>
    <p>Stranka ma mat tri navigacne tlacidla (umiestnene v hornej casti). Jedno bude sluzit na zobrazenie zoznamu aktualnych zamestnancov, druhe na zobrazenie zoznamu predoslych zamestnancov a tretie na zobrazenie zoznamu pozicii vo firme.</p>
    <p><strong>Zoznam aktualnych zamestnancov ma mat nasledujuce stlpce:</strong></p>
    <ul>
        <li>Meno - vznikne spojenim mena a priezviska zamestnanca. Po kliknuti na meno zamestnanca sa zobrazi obrazovka, na ktorej budu aktualne udaje zamestnanca bez moznosti ich editacie.</li>
        <li>Aktualna pozicia</li>
        <li>V tretom stlpci bude tlacidlo pre editovanie udajov zamestnanca. Po jeho stlaceni sa zobrazi obrazovka, na ktorej budu aktualne udaje zamestnanca s moznostou ich editacie. Pozicia zamestnanca sa bude vyberat skrz dropdown element. Na obrazovke sa bude nachadzat aj zoznam predoslych pozicii zamestnanca spolu s datumovym ohranicenim (kedy na danu poziciu nastupil a dokedy na danej pozicii pracoval). Editovanie zoznamu predoslych pozicii nebude povolene. V dolnej casti tejto obrazovky bude tlacidlo na ulozenie zmien.</li>
        <li>Vo stvrtom stlpci bude tlacidlo pre zmazanie zamestnanca.</li>
    </ul>
    <p>Obrazovka, na ktorej sa nachadza zoznam zamestnancov, bude obsahovat jedno globalne tlacidlo pre pridanie noveho zamestnanca. Po jeho stlaceni sa zobrazi rovnaka obrazovka ako pri zmene udajov existujuceho zamestnanca. Datum nastupu ma byt automaticky vyplneny na dnesny den (ale s moznostou manualnej zmeny).</p>
    <p>Pred zmazanim zamestnanca sa aplikacia spyta, ci ma zamestnanca archivovat. Archivovani zamestnanci sa budu zobrazovat v zozname predoslych zamestnancov.</p>
    <p><strong>Zoznam predoslych zamestnancov ma mat nasledujuce stlpce:</strong></p>
    <ul>
        <li>Meno - vznikne spojenim mena a priezviska zamestnanca. Po kliknuti na meno zamestnanca sa zobrazi obrazovka, na ktorej budu zobrazene aktualne udaje zamestnanca bez moznosti ich editacie.</li>
        <li>Posledna pozicia vo firme.</li>
        <li>Datum zmazania (prepustenia) zamestnanca.</li>
        <li>Vo stvrtom stlpci bude tlacidlo pre trvale zmazanie zamestnanca zo systemu. Trvalemu zmazaniu zamestnanca musi predchadzat potvrdenie akcie pouzivatelom (aplikacia saa spyta, ci skutocne trvalo zmazat zamestnanca).</li>
    </ul>
    <p>&nbsp;</p>
    <p>Zamestnanci a pozicie musia byt evidovani na serveri. Data budu ulozene v SQL databaze lubovolneho typu. Mozeme predpokladat, ze vzdy bude existovat len jeden klient.</p>
    <p>Vyzadovane technologie</p>
    <ul>
        <li>Klient</li>
        <li>Aurelia (<a href="http://aurelia.io/">http://aurelia.io/</a>, starter kity - <a href="https://github.com/aurelia/skeleton-navigation">https://github.com/aurelia/skeleton-navigation</a>, <a href="https://aureliacasts.com">https://aureliacasts.com</a>)<br /> ALEBO<br /> Durandal (<a href="http://durandaljs.com/">http://durandaljs.com/</a>) v&nbsp;kombinacii s&nbsp;KnockoutJS (<a href="http://knockoutjs.com/">http://knockoutjs.com/</a>)</li>
        <li>SASS, LESS alebo CSS</li>
        <li>Typescript</li>
        <li>Server</li>
        <li>NET Web API 2 alebo ASP.NET Core Web API</li>
        <li>Databaza</li>
        <li>SQL</li>
    </ul>
    <p>Co studovat</p>
    <ul>
        <li>REST API</li>
        <li>NET Web API 2</li>
        <li>SPA (<a href="https://en.wikipedia.org/wiki/Single-page_application">https://en.wikipedia.org/wiki/Single-page_application</a>)</li>
        <li>Aurelia<br /> alebo<br /> Durandal + KnockoutJS</li>
        <li>SASS, LESS alebo CSS</li>
        <li>Typescript</li>
    </ul>
    <p>&nbsp;</p>
</template>
